*{
	padding: 0;
	margin: 0;
}
.mi_footer{
	background-color: black;
	height: 200px;
	padding-top: 70px;
	font-size: 14px;
	font-family: fantasy;
	color: white;
	margin-bottom: 10px;
	padding-left: 100px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

}
header img{
	width: 100%;
	height: 300px;
	padding-top: 5px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
